{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}

<div class="row">
  <div class="col-2">
    <div class="list-group">
     
      <a href="#" class="list-group-item list-group-item-action">Dentist</a>
      <a href="#" class="list-group-item list-group-item-action">Neurologist</a>
      <a href="#" class="list-group-item list-group-item-action">Dermatologist</a>
      <a href="#" class="list-group-item list-group-item-action">General Physician</a>
      <a href="#" class="list-group-item list-group-item-action">Cardiologist</a>
      <a href="#" class="list-group-item list-group-item-action">Gynecologist</a>
      <a href="#" class="list-group-item list-group-item-action">Ayurveda</a>
      <a href="#" class="list-group-item list-group-item-action">	Ear-nose-throat(end)Specialist</a>
      
     
    </div>
  </div>


  <div class="col"><div class="row row-cols-1 row-cols-md-1 g-1">


   {% for doctor in doctors %}
     
   {% include "doctor_card.html" with d=doctor %}

   {% endfor %}
  
  </div>


{% endblock %}